* {
	margin: 0;
	padding: 0;
}

body {
	font: 1.3em 'Work Sans', sans-serif;
}

.container {
	text-align: center
}

li {
	list-style: none;
	text-align: center;
	margin: 20px;
	font-size: 30px;
	cursor: pointer;
}

li:hover {
	color: #119900;
}

.cat-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cat-display {
	max-width: 500px;
	height: 500px;
	border: 1px solid #CCCCCC;
	margin: 0 auto;
}

.container p {
	margin-top: 10px;
}